ul {
  list-style-type: none;
  margin: 10;
}

li {
  justify-content: space-between;
  float:left;
}

input[type="checkbox"][id^="cb"] {
  display: none;
}

label {
  border: 1px solid #fff;
  display: block;
  position: relative;
  cursor: pointer;
}

label:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  /* border-radius: 50%; */
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}
.navbar {
  overflow: visible;
  background-color: #333;
  position: fixed;
  width: 100%;
}


img {
  height: 300px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked + label {
  border-color: #ddd;
  background-color: GreenYellow;
}

/* :checked + label:before {
  background-color: red;
  transform: scale(1);
} */

:checked + label img {
  transform: scale(0.95);
  box-shadow: 0 2 5px #333;
  z-index: -1;
  opacity: 10%;
  filter:  sepia(90%);
}
